nav ul {
    list-style-type: none;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type:none;
}

nav li {
    padding: 10px;
    display: inline;
    justify-content: center;
}

nav a {
    color: rgb(74, 70, 70);
}
nav a:visited {
    color: rgb(74, 70, 70);
}

nav a:hover {
    color: #a3b18a;
}

nav a {
    font-size:larger;
    font-weight: bolder;
}

p, h1, h2, h3, h4, h5, h6, li, td{
    font-family: sans-serif;
}

p {
    font-size: larger;
}


nav ul li a{
    text-decoration: none;
}

hr {
    background-color: black;
    height: 2px;
    border: none;
  }

body {
    max-width: 70%;
    margin: auto;
    padding: 45px;
    border-radius: 10px;
    background-color: #fefae0;
    padding-bottom: 20%;
}


html {
    background-color: #a3b18a;
}

form input, form button {
  box-sizing: border-box;
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
}


.logout-button {
    background-color: #35471f;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .logout-button:hover {
    background-color: #283618;
    transform: scale(1.03);
  }
  
  .logout-button:active {
    transform: scale(0.97);
  }

  .login-container {
    max-width: 45%;
    margin: auto;
    border: 3px solid black;
    padding: 3%;
    border-radius: 10px;
  }

.entry-form {
    padding: 30px;
    background-color: #a3b18a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 415px;
    margin: 0 auto;
}
.entry-form button {
    width: 95%;
    max-width: 350px;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px; 
    transition: border-color 0.3s ease;
  }

  .entry-form label {
    font-family: sans-serif ;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .entry-form button:hover {
    background-color: #ccc;
  }

.entry-form input:focus, .entry-form select:focus, .entry-form textarea:focus {
    outline: none;                
  }

.entry-form input, .entry-form select, .entry-form textarea {
    width: 90%;
    padding: 12px;               
    font-size: 1.1rem;           
    border-radius: 8px;         
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }

  .entry-form select {
    background-color: #fff;                 
  }


.card-container {
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
}



  ul li a:hover {
    cursor: pointer;

  }

  .streak-labels {
    font-size: x-large;
  }

  .lift-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .lift-card {
    background-color: #f7f7f6;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
  }


  .friend-list {
    padding: 0;
    margin: 0;
  }
  
.request-list {
    margin-right: 1rem;
    font-weight: bolder;
    font-size: larger;
}

.search-results {
    margin-right: 1rem;
    font-weight: bolder;
    font-size: larger;
}
  
  .item-list:hover {
    background-color: #e0e0e0;
    transform: scale(1.08);
  }

  .item-list {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px 15px;
    border-radius: 6px;
    color: #333;
    background-color: #f1f1f1;
    transition: background-color 0.2s ease;
  }

  #streak-names {
    background-color:#283618 ;
    color: white;
  }

  .profile-container input, .profile-container button, .profile-container textarea {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px; 
    transition: border-color 0.3s ease;
  }

#accept-button, #reject-button {
    max-width: 100px;
    padding: 6px 12px;
}
#reject-button{
    margin-left: 1rem;
    background-color: red;
}
#reject-button:hover{
    background-color: rgb(218, 30, 30);
}
  
  .profile-container button {
    background-color: #2b6c2f;
    color: white;
    cursor: pointer;
  }
  
  .profile-container button:hover {
    background-color: #308134;
  }
  
  
  .profile-container label {
    font-family: sans-serif ;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .profile-container ul {
    padding-left: 0;
  }
  
  .profile-container li {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #333;
  }

  #profile-name {
    margin-bottom: 20px;
  }

  #streak-container {
    margin-bottom: 3%;
  }
  
  tr, td {
    border: 1px solid #283618;
  }

  td, th {
    font-size: larger;
    padding: 10px 50px;
    font-family: sans-serif ;
  }

  th {
    background-color: #283618;
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #a3b18a; 
  }

  tr:nth-child(odd) {
    background-color: #ccc; 
  }

  tr:hover {
    background-color: #fff; 
  }




  .friend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ranking {
    margin-right: 10px;
    font-weight: bold;
  }

  .registration-button {
    background-color: #35471f;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 100px;
  }
  
  .registration-button:hover {
    background-color: #283618;
    transform: scale(1.03);
  }
  
  .registration-button:active {
    transform: scale(0.97);
  }


  .recent-workouts-table {
    margin-left: auto;
    margin-right: auto;
    width: auto; 
    border-collapse: collapse;
  }

  @media (max-width: 600px) {
    body {
      max-width: 100%;
      border-radius: 0;
      padding: 20px;
      padding-bottom: 50%;
    }

    tr, td {
        border: 1px solid #283618;
      }
    
      td, th {
        padding: 5px 20px;
      }
    
  }




  